kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
networking:
  ipFamily: ipv4
  kubeProxyMode: "ipvs"
  podSubnet: {{ pods_cidr }}
  serviceSubnet: {{ services_cidr }}
  apiServerPort: 6443
nodes:
{% for number in range(1, contolplanes_count + 1) %}
- role: control-plane
  extraPortMappings:
  - containerPort: 6443
    hostPort: 443
  extraMounts:
  - hostPath: /dev/
    containerPath: /dev/
  labels:
    openstack-control-plane: enabled
{% endfor %}
{% for number in range(1, workers_count + 1) %}
- role: worker
  extraMounts:
  - hostPath: /dev/
    containerPath: /dev/
  labels:
    openstack-compute-node: enabled
    openstack-network-node: enabled
    openvswitch: enabled
{% endfor %}
